<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task {{ flag }}</title>
</head>
<body>
<table>
    <tr>
        <td>
            Employee Name
        </td>
        <td>
            {{employee_name}}
        </td>
    </tr>
    <tr>
        <td>
            Employee Username
        </td>
        <td>
            {{employee_username}}
        </td>
    </tr>
    <tr>
        <td>
            Manager Name
        </td>
        <td>
            {{manager_name}}
        </td>
    </tr>
    <tr>
        <td>
            Manager Username
        </td>
        <td>
            {{manager_username}}
        </td>
    </tr>
    <tr>
        <td>
            Title
        </td>
        <td>
            {{task_title}}
        </td>
    </tr>
    <tr>
        <td>
            Details
        </td>
        <td>
            {{task_body}}
        </td>
    </tr>
    <tr>
        <td>
            Status
        </td>
        <td>
            {{task_status}}
        </td>
    </tr>
    <tr>
        <td>
            Created at
        </td>
        <td>
             {{task_creation_date}}
        </td>
    </tr>
    <tr>
        <td>
            Started at
        </td>
        <td>
            {{task_start}}
        </td>
    </tr>
    <tr>
        <td>
            Deadline
        </td>
        <td>
            {{task_deadline}}
        </td>
    </tr>
</table>
</body>
</html>